@model prjWankibackend.Models.Database.TProduct

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TProduct</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FProductCategoryId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FProductCategoryId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FSponsorId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FSponsorId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FProductName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FProductName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FSales)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FSales)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FStock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FStock)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FUnitlHelpPoint)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FUnitlHelpPoint)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FStatus)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.FProductId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
